/*----------------------------
    The file upload form
-----------------------------*/

#upload {
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #fff;

    /*background-image:-webkit-linear-gradient(top, #373a3d, #313437);*/
    /*background-image:-moz-linear-gradient(top, #373a3d, #313437);*/
    /*background-image:linear-gradient(top, #373a3d, #313437);*/

    width: 100%;
    padding: 30px;
    border-radius: 3px;

    margin: 0px auto 100px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
}

#drop {
    background-color: #fff;
    padding: 100px 50px;
    margin-bottom: 30px;
    border: 5px dashed #F1F2F7;
    border-radius: 3px;
    /*border-image: url('../img/border-image.png') 25 repeat;*/
    text-align: center;
    text-transform: uppercase;

    font-size: 16px;
    font-weight: bold;
    color: #7f858a;
}

#drop a {
    background-color: #1FB5AD;
    padding: 12px 26px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    margin-top: 12px;
    line-height: 1;
}

#drop a:hover {
    background-color: #1ca59e;
}

#drop input {
    display: none;
}

#upload ul {
    list-style: none;
    margin: 0;
    /*border-top:1px solid #2b2e31;*/
    /*border-bottom:1px solid #3d4043;*/
}

#upload ul li {

    background-color: #F1F2F7;

    /*background-image:-webkit-linear-gradient(top, #333639, #303335);*/
    /*background-image:-moz-linear-gradient(top, #333639, #303335);*/
    /*background-image:linear-gradient(top, #333639, #303335);*/

    /*border-top:1px solid #3d4043;*/
    /*border-bottom:1px solid #2b2e31;*/
    padding: 15px;
    height: 80px;

    position: relative;
}

#upload ul li input {
    display: none;
}

#upload ul li p {
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #32323a;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}

#upload ul li i {
    font-weight: normal;
    font-style: normal;
    color: #7f7f7f;
    display: block;
}

#upload ul li canvas {
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li span {
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor: pointer;
}

#upload ul li.working span {
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p {
    color: #1FB5AD;
}

#tzine-download {
    opacity: 0.9;
    background-color: #257691;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    height: 28px;
    line-height: 28px;
    text-decoration: none !important;

    display: inline-block;
    border-radius: 2px;
    color: #fff !important;
    font-weight: bold;
    box-shadow: 0 -1px 2px #1e5e74 inset;

    border-top: 1px solid #26849c;

    text-shadow: 1px 1px 1px #1e6176;
    margin-top: 6px;
}

#tzine-download:hover {
    opacity: 1;
}

#tzine-actions {
    position: absolute;
    top: 0;
    width: 500px;
    right: 50%;
    margin-right: -420px;
    text-align: right;
}

#tzine-actions iframe {
    display: inline-block;
    height: 21px;
    width: 95px;
    position: relative;
    float: left;
    margin-top: 11px;
}
