@font-face {
    font-family: 'helveticaneue-light';
    src: url('../fonts/helvetica-neue-light/helveticaneue-light.eot');
    src: url('../fonts/helvetica-neue-light/helveticaneue-light') format('embedded-opentype'), url('../fonts/helvetica-neue-light/helveticaneue-light.woff') format('woff'), url('../fonts/helvetica-neue-light/helveticaneue-light') format('truetype'), url('../fonts/helvetica-neue-light/helveticaneue-light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneue-medium';
    src: url('../fonts/helveticaneue-medium/helveticaneue-medium.eot');
    src: url('../fonts/helveticaneue-medium/helveticaneue-medium') format('embedded-opentype'), url('../fonts/helveticaneue-medium/helveticaneue-medium.woff') format('woff'), url('../fonts/helveticaneue-medium/helveticaneue-medium') format('truetype'), url('../fonts/helveticaneue-medium/helveticaneue-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'helveticaneue-light';
}

a {
    color: #656565;
}

section h2 {
    color: #575757;
    font-size: 48px;
    margin: 50px 0;
    padding-bottom: 40px;
    position: relative;
    text-align: center;
}

.table-mi {
    border-collapse: separate;
    border-spacing: 20px;
    display: table;
    padding: 0;
}

.table-mi-bnr {
    display: table;
    height: 800px;
}

.tablecell-mi {
    display: table-cell;
    vertical-align: middle;
}

.btmrdln {
    position: relative;
    padding-bottom: 50px;
}

.btmrdlnbnr {
    position: relative;
    padding-bottom: 25px;
}

section h2:before, .btmrdln:before, .btmrdlnbnr:before {
    background: #ff0000;
    bottom: 0;
    content: "";
    height: 5px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 100px;
}

.btmrdln:before {
    right: auto;
}

.common-spacing-margin {
    margin-top: 50px;
    margin-bottom: 50px;
}

.red {
    color: #ff0000;
}

.grey37 {
    color: #373737;
}

.grey57 {
    color: #575757;
}

.grey65 {
    color: #656565;
}

.whatistxt {
    font-size: 24px;
    line-height: 36px;
}

.navbar-custom {
    background: #fff;
    /*border-bottom:#cfcfcf 1px solid;	*/
    margin-bottom: 0;
}

.navbar-brand {
    height: auto;
}

.navbar-nav > li > a {
    line-height: 64px;
    font-size: 18px;
    border-left: 1px solid #d9d9d9;
    border-bottom: 6px solid #cbcbcb;
}

.navbar-nav > li:last-child > a {
    border-right: 1px solid #d9d9d9;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #FF0000;
    color: #fff;
    border-bottom: 6px solid #d70101;
}

.navbar-nav > li > a {
    padding-bottom: 16.5px;
    padding-top: 16.5px;
}

.welcome-txt-main {
}

.ipadvideo-main {
    background: url(../images/vdobgipad.png) no-repeat center top;
    height: 584px;
}

.ipadvdolftrgt {
    height: 535px;
}

.vdo-lft-tp, .vdo-lft-md, .vdo-lft-btm, .vdo-rgt-tp, .vdo-rgt-md, .vdo-rgt-btm {
    position: absolute;
}

.vdo-lft-tp, .vdo-lft-md, .vdo-lft-btm {
    right: 0;
}

.vdo-rgt-tp, .vdo-rgt-md, .vdo-rgt-btm {
    left: 0;
}

.vdo-lft-tp {
    top: 0px;
}

.vdo-lft-md {
    top: 50%;
}

.vdo-lft-btm {
    bottom: 0px;
}

.vdo-rgt-tp {
    top: 0px;
}

.vdo-rgt-md {
    top: 50%;
}

.vdo-rgt-btm {
    bottom: 0px;
}

.ipadvdolftrgt span {
    color: #ff0000;
    font-size: 24px;
}

.vdo-lft-tp-arw {
    background: url(../images/lft-tp-arrow.png) no-repeat;
    width: 48px;
    height: 28px;
    display: inline-block;
}

.vdo-lft-md-arw {
    background: url(../images/lft-md-arrow.png) no-repeat;
    width: 62px;
    height: 19px;
    display: inline-block;
}

.vdo-lft-btm-arw {
    background: url(../images/lft-btm-arrow.png) no-repeat;
    width: 53px;
    height: 43px;
    display: inline-block;
}

.vdo-rgt-tp-arw {
    background: url(../images/rgt-tp-arrow.png) no-repeat;
    width: 45px;
    height: 25px;
    display: inline-block;
}

.vdo-rgt-md-arw {
    background: url(../images/rgt-md-arrow.png) no-repeat;
    width: 107px;
    height: 23px;
    display: inline-block;
}

.vdo-rgt-btm-arw {
    background: url(../images/rgt-btm-arrow.png) no-repeat;
    width: 66px;
    height: 38px;
    display: inline-block;
}

.revolutionize-imgs {
    height: 320px;
    width: 510px;
    position: relative;
}

.revolutionize-laptop {
}

.revolutionize-android {
    bottom: 15px;
    position: absolute;
    right: 110px;
}

.revolutionize-iphone {
    bottom: 0px;
    position: absolute;
    right: 0px;
}

.welldone-imgs {
    position: relative;
    width: 450px;
    height: 500px;
}

.weldone-img3 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

.weldone-img2 {
    position: absolute;
    left: 0px;
    top: 90px;
    z-index: 2;
}

.weldone-img1 {
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 3;
}

.weldone-truck {
    position: absolute;
    left: 0;
    top: 95px;
    z-index: 4;
}

.weldone-user {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 4;
}

.weldone-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4;
}

.mblbgsix {
    background: url(../images/mbl-bg.jpg) no-repeat;
    background-size: cover;
    height: 870px;
}

.mblbgsix h2 {
    color: #fff;
}

.sixspecificationmbl {
    background: url(../images/android2.png) no-repeat;
    height: 780px;
    width: 397px;
    margin: 0 auto;
}

.six-specifications {
}

.six-specifications a {
    display: block;
    color: #fff;
    font-size: 30px;
    margin-bottom: 60px;
}

.six-specifications a:last-child {
    margin-bottom: 0;
}

.six-specifications a span {
    width: 135px;
    height: 135px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}

.six-icon1 span {
    background: url(../images/six1.png) no-repeat center center #fff;
}

.six-icon2 span {
    background: url(../images/six2.png) no-repeat center center #fff;
}

.six-icon3 span {
    background: url(../images/six3.png) no-repeat center center #fff;
}

.six-icon4 span {
    background: url(../images/six4.png) no-repeat center center #fff;
}

.six-icon5 span {
    background: url(../images/six5.png) no-repeat center center #fff;
}

.six-icon6 span {
    background: url(../images/six6.png) no-repeat center center #fff;
}

.eight-specifications {
    background: #eee;
    padding-top: 80px;
    padding-bottom: 50px;
}

.eight-specifications-item {
    background: #fff;
    border-radius: 50px;
    height: 250px;
    font-size: 24px;
}

.ipadvdolftrgt span {
    display: inline-block;
}

.eight1icon span {
    background: url(../images/six1.png) no-repeat center center;
    height: 64px;
    display: block;
}

.eight2icon span {
    background: url(../images/six2.png) no-repeat center center;
    height: 64px;
    display: block;
}

.eight3icon span {
    background: url(../images/six3.png) no-repeat center center;
    height: 64px;
    display: block;
}

.eight4icon span {
    background: url(../images/six4.png) no-repeat center center;
    height: 64px;
    display: block;
}

.eight5icon span {
    background: url(../images/six5.png) no-repeat center center;
    height: 64px;
    display: block;
}

.eight6icon span {
    background: url(../images/six6.png) no-repeat center center;
    height: 64px;
    display: block;
}

.eight7icon span {
    background: url(../images/six1.png) no-repeat center center;
    height: 64px;
    display: block;
}

.eight8icon span {
    background: url(../images/six2.png) no-repeat center center;
    height: 64px;
    display: block;
}

.download-main {
    background: #f6f6f6;
    padding: 50px 0 80px;
}

.download-main h3 {
    font-size: 40px;
    margin-bottom: 40px;
}

.download-main p {
    font-size: 30px;
    color: #999;
}

.download-main p span {
    color: #666;
}

.footer-contact {
    background: #282828;
    padding-bottom: 50px;
}

.footer-contact h2 {
    color: #fff;
}

.footer-contact input {
    border: none;
    border-radius: 2px;
    font-size: 20px;
    height: 55px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.footer-contact textarea {
    border: none;
    border-radius: 2px;
    font-size: 20px;
    height: 100px;
    margin-bottom: 10px;
    padding: 5px 10px 10px;
    width: 100%;
}

.footer-contact .col-md-6, .footer-contact .col-md-12 {
    padding: 0 5px;
}

.footer-contact button {
    background: none repeat scroll 0 0 #ff0000;
    border: medium none;
    color: #fff;
    font-size: 24px;
    padding: 15px 25px;
}

.weldone-paddingtop {
    padding-top: 100px;
}

.revolutionize-paddingtop {
    padding-top: 60px;
}

.footer-links {
    background: #373737;
    padding-top: 13px;
    margin: 0;
}

.social-mda {
}

.flinks-main {
}

.social-mda ul, .flinks-main ul {
    list-style: none;
    padding-left: 0;
}

.social-mda ul li, .flinks-main ul li {
    display: inline-block;
}

.social-mda ul li a {
    display: block;
    height: 40px;
    width: 40px;
}

.flinks-main ul li a {
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 7px 15px;
}

.flinks-main ul li a:first-child {
    padding-left: 0;
}

.fb-icon {
    background: url(../images/facebook-icon.png) no-repeat;
}

.tw-icon {
    background: url(../images/twitter-icon.png) no-repeat;
}

.gp-icon {
    background: url(../images/google-plus-icon.png) no-repeat;
}

.copyright-txt {
    border-top: 1px solid #464646;
    color: #fff;
    padding: 20px 15px 10px;
}

/*!
 * Start Bootstrap - Full Slider HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html, body {
    height: 100%;
}

.carousel, .item, .active {
    height: 800px;
}

#myCarousel1.carousel, #myCarousel1 .item {
    height: 450px;
}

.carousel-inner {
    height: 100%;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

#myCarousel1 .carousel-caption {
    text-shadow: none;
    top: 0;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}

.client-name {
    font-size: 30px;
    color: #ff0000;
}

.client-txt {
    color: #333;
    font-size: 24px;
}

.abt-client {
    color: #999;
    font-size: 18px;
}

.clnt-dtls {
}

.clnt-dtls span {
    display: block;
}

.clint-pic > img {
    border-radius: 100%;
    height: 150px;
    width: 150px;
}

/*header slider test*/
#myCarousel .carousel-caption {
    bottom: 0;
    color: #ffffff;
    left: 0;
    padding-bottom: 0px;
    padding-top: 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    z-index: 10;
}

.sldr-txt {
    font-size: 36px;
    color: #fff;
}

.bnr-link-btn {
    background: #ff0000;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    padding: 10px 15px;
}

.bnr-ttl {
    font-size: 30px;
    color: #fff;
}

.carousel-control {
    z-index: 10;
    opacity: 1;
}

.login-register-top {
    background: #eee;
}

.login-register-top ul {
    list-style: outside none none;
    margin: 0;
    padding: 5px 0;
}

.login-register-top ul li {
    display: inline;
}

.login-register-top ul li a {
    font-size: 18px;
}

.login-register-top ul li:first-child {
    border-right: 1px solid #d9d9d9;
    margin-right: 10px;
    padding-right: 10px;
}

.carousel-control .icon-prev::before {
    content: url(../images/bnr-arw-lft.png);
    padding: 10px 15px;
}

.carousel-control .icon-next::before {
    content: url(../images/bnr-arw-rgt.png);
    padding: 10px 15px;
}

.carousel-control.left:hover .icon-prev::before {
    background: #ff0000;
    border-left: #d80000 solid 20px;
}

.carousel-control.right:hover .icon-next::before {
    background: #ff0000;
    border-right: #d80000 solid 20px;
}

.carousel-control .icon-prev {
    width: auto;
    margin: 0;
    left: 0;
}

.carousel-control .icon-next {
    width: auto;
    right: 0;
    margin: 0;
}

.ftr-contact-icon {
    margin-top: 80px;
}

.ftr-contact-icon span {
    background: url(../images/ftr-cntctus-icon.png) no-repeat center 0;
    display: block;
    height: 103px;
    position: absolute;
    top: -130px;
    width: 100%;
}

#myCarousel1 .carousel-control .icon-prev::before {
    content: url(../images/ct-arw-lft.png);
    padding: 10px 15px;
}

#myCarousel1 .carousel-control .icon-next::before {
    content: url(../images/ct-arw-rgt.png);
    padding: 10px 15px;
}

#myCarousel1 .carousel-control.left:hover .icon-prev::before {
    content: url(../images/bnr-arw-lft.png);
}

#myCarousel1 .carousel-control.right:hover .icon-next::before {
    content: url(../images/bnr-arw-rgt.png);
}

/*Delays*/

.delay-01s {
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}

.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}

.delay-10s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.delay-11s {
    animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
}

.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}

.delay-13s {
    animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
}

.delay-14s {
    animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s;
}

.delay-15s {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

.delay-16s {
    animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
}

.delay-17s {
    animation-delay: 1.7s;
    -webkit-animation-delay: 1.7s;
}

.delay-18s {
    animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
}

.delay-19s {
    animation-delay: 1.9s;
    -webkit-animation-delay: 1.9s;
}

.delay-20s {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

/*Delays*/

/*pricing section css starts*/
.Pricing-main {

}

.cstm-prsng-tbl {
    text-align: center;
    width: 100%;
}

/*pricing section css ends*/

/*register starts*/

.rgstr-optn {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: scroll !important;
    left: 0;
}

.rgstr-optn h2 {
    color: #ff0000;
    font-family: "helveticaneue-light";
    font-size: 40px;
    margin: 25px 0 10px;
    padding-bottom: 25px;
}

.rgstr-optn > div > p {
    color: #999;
    font-size: 30px;
}

.rgstr-opt-tbl {
    display: table;
    height: calc(100% - 165px);
    left: 0;
    margin: 0;
    min-height: 550px;
    position: absolute;
    top: 165px;
    width: 100%;
}

.rgstr-opt-tblcl {
    display: table-cell;
    vertical-align: middle;
    float: none;
    padding: 30px;
}

.rgstr-opt-tblcl h3 span {
    font-size: 24px;
    color: #999;
}

.rgstr-opt-tblcl h3 {
    font-size: 38px;
    color: #373737;
}

.rgstr-opt-tblcl h3 i, i.icon-red-round-bg {
    border-radius: 150px;
    display: inline-block;
    height: 150px;
    width: 150px;
    margin: 20px 0 15px;
}

.rgstr-opt-tblcl:nth-child(1) {
    background: #f9f9f9;
}

.rgstr-opt-tblcl:nth-child(2) {
    background: #efefef;
}

.rgstr-opt-tblcl:nth-child(3) {
    background: #e6e6e6;
}

.rgstr-optn-hidn-contnt {
    font-size: 30px;
    color: #656565;
    position: relative;
}

.rgstr-optn-hidn-contnt span {
    color: #363636;
    font-family: 'helveticaneue-medium';
}

.rgstr-optn-hidn-contnt a {
    background: #373737;
    border-radius: 100px;
    color: #fff;
    display: inline-block;
    font-family: "helveticaneue-medium";
    padding: 11px 10px;
}

.rgstr-optn-hidn-contnt:before {
    background: #ff0000;
    right: 0;
    content: "";
    height: 5px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100px;
}

.distributor-icon {
    background: url(../images/distributor-icon.png) no-repeat center center #ff0000;
}

.manufacturer-icon {
    background: url(../images/manufacturer-icon.png) no-repeat center center #ff0000;
}

.retailer-icon {
    background: url(../images/retailer-icon.png) no-repeat center center #ff0000;
}

.rgstr-optn-hidn-contnt > p {
    padding: 25px 0 15px;
}

.sc-rgstr-form {
    text-align: center;
}

.sc-rgstr-form input[type="text"], .sc-rgstr-form select {
    width: 100%;
    background: #eee;
    border: none;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 24px;
}

.sc-form-dvdr {
    background: #ccc;
    height: 1px;
    position: relative;
    margin: 50px 0 20px;
}

.sc-form-dvdr span {
    background: #fff;
    color: #666;
    font-size: 20px;
    left: 0;
    padding-right: 10px;
    position: absolute;
    top: -16px;
}

.sc-rdobtn input[type=radio] {
    display: none;
}

.sc-rdobtn input[type=radio] + label {
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #666;
    cursor: pointer;
    display: block;
    font-size: 24px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
    margin-bottom: 15px;
    text-align: left;
}

.sc-rdobtn {
    padding-bottom: 5px;
}

.sc-rdobtn label {
    background-image: url(../images/sc-rdo.png);
}

.sc-rdobtn input[type=radio]:checked + label {
    background-position: left -50px;
}

.sc-scrtq {
    padding-top: 10px;
    text-align: left;
}

.sc-scrtq hr {
    margin-top: 0;
    margin-bottom: 20px;
}

.sc-scrtq label {
    color: #666;
    font-size: 24px;
    font-weight: normal;
}

.sc-scrtq label span {
    border: 1px solid #666;
    border-radius: 100px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    width: 36px;
}

.sc-rgstr-form input[type="submit"] {
    background: #ff0000;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    font-size: 30px;
    padding: 10px 15px;
}

.acpttc-rgstr {
    font-size: 18px;
    color: #999;
    margin: 15px 0;
}

.acpttc-rgstr a {
    color: #373737;
}

.rgstr-vsbl {
    visibility: visible;
    display: block;
}

.rgstr-novsbl {
    visibility: hidden;
    display: none;
}