@font-face {
    font-family: 'helveticaneue-light';
    src: url('../fonts/helvetica-neue-light/helveticaneue-light.eot');
    src: url('../fonts/helvetica-neue-light/helveticaneue-light') format('embedded-opentype'), url('../fonts/helvetica-neue-light/helveticaneue-light.woff') format('woff'), url('../fonts/helvetica-neue-light/helveticaneue-light') format('truetype'), url('../fonts/helvetica-neue-light/helveticaneue-light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helveticaneue-medium';
    src: url('../fonts/helveticaneue-medium/helveticaneue-medium.eot');
    src: url('../fonts/helveticaneue-medium/helveticaneue-medium') format('embedded-opentype'), url('../fonts/helveticaneue-medium/helveticaneue-medium.woff') format('woff'), url('../fonts/helveticaneue-medium/helveticaneue-medium') format('truetype'), url('../fonts/helveticaneue-medium/helveticaneue-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'helveticaneue-light';
}
a {
    color: #656565;
}

footer, .footer-contact{
	-webkit-backface-visibility: hidden;
}

.rgstr-opt-tblcl strong {
    font-family: 'helveticaneue-medium';
}
.terms-of-conditions {
    color: #444444;
    font-size: 30px;
}
.table-mi-bnr .tablecell-mi{
    display: block;
    margin-top: 68%;
}

section h2 {
    color: #535353;
    font-size: 48px;
    margin: 50px 0;
    padding-bottom: 40px;
    position: relative;
    text-align: center;
}
.table-mi {
    border-collapse: separate;
    border-spacing: 20px;
    display: table;
    padding: 0;
}
.table-mi-bnr {
    display: table;
    height: 800px;
}
.tablecell-mi {
    display: table-cell;
    vertical-align: middle;
}
.btmrdln {
    position: relative;
    padding-bottom: 50px;
}
.btmrdlnbnr {
    position: relative;
    padding-bottom: 25px;
}
section h2:before, .btmrdln:before, .btmrdlnbnr:before {
    background: #ff0000;
    bottom: 0;
    content: "";
    height: 5px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 100px;
}
.btmrdln:before {
    right: auto;
}
.common-spacing-margin {
    margin-top: 50px;
    margin-bottom: 50px;
}
.red {
    color: #ff0000;
}
.grey37 {
    color: #373737;
}
.grey57 {
    color: #575757;
}
.grey65 {
    color: #656565;
}
.whatistxt {
    font-size: 24px;
    line-height: 36px;
}
.navbar-custom {
    background: #fff;
    /*border-bottom:#cfcfcf 1px solid;	*/
    margin-bottom: 0;
    box-shadow: 0 2px #d6d6d6;
}
.navbar-brand {
    height: auto;
}
.navbar-nav > li > a {
    line-height: 64px;
    font-size: 18px;
    border-left: 1px solid #d9d9d9;
    border-bottom: 6px solid #cbcbcb;
}
.navbar-nav > li:last-child > a {
    border-right: 1px solid #d9d9d9;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #FF0000;
    color: #fff;
    border-bottom: 6px solid #d70101;
}
.navbar-nav > li > a {
    padding-bottom: 16.5px;
    padding-top: 16.5px;
}
.welcome-txt-main {
}
.ipadvideo-main {
    background: url(../images/vdobgipad.png) no-repeat center top;
    height: 584px;
}
.ipadvdolftrgt {
    height: 535px;
}
.vdo-lft-tp, .vdo-lft-md, .vdo-lft-btm, .vdo-rgt-tp, .vdo-rgt-md, .vdo-rgt-btm {
    position: absolute;
}
.vdo-lft-tp, .vdo-lft-md, .vdo-lft-btm {
    right: 0;
}
.vdo-rgt-tp, .vdo-rgt-md, .vdo-rgt-btm {
    left: 0;
}
.vdo-lft-tp {
    top: 0px;
}
.vdo-lft-md {
    top: 50%;
}
.vdo-lft-btm {
    bottom: 0px;
}
.vdo-rgt-tp {
    top: 0px;
}
.vdo-rgt-md {
    top: 50%;
}
.vdo-rgt-btm {
    bottom: 0px;
}
.ipadvdolftrgt span {
    color: #ff0000;
    font-size: 24px;
}
.vdo-lft-tp-arw {
    background: url(../images/lft-tp-arrow.png) no-repeat;
    width: 48px;
    height: 28px;
    display: inline-block;
}
.vdo-lft-md-arw {
    background: url(../images/lft-md-arrow.png) no-repeat;
    width: 62px;
    height: 19px;
    display: inline-block;
}
.vdo-lft-btm-arw {
    background: url(../images/lft-btm-arrow.png) no-repeat;
    width: 53px;
    height: 43px;
    display: inline-block;
}
.vdo-rgt-tp-arw {
    background: url(../images/rgt-tp-arrow.png) no-repeat;
    width: 45px;
    height: 25px;
    display: inline-block;
}
.vdo-rgt-md-arw {
    background: url(../images/rgt-md-arrow.png) no-repeat;
    width: 107px;
    height: 23px;
    display: inline-block;
}
.vdo-rgt-btm-arw {
    background: url(../images/rgt-btm-arrow.png) no-repeat;
    width: 66px;
    height: 38px;
    display: inline-block;
}
.revolutionize-imgs {
    height: 320px;
    width: 510px;
    position: relative;
}
.revolutionize-laptop {
}
.revolutionize-android {
    bottom: 15px;
    position: absolute;
    right: 110px;
}
.revolutionize-iphone {
    bottom: 0px;
    position: absolute;
    right: 0px;
}
.welldone-imgs {
    position: relative;
    width: 450px;
    height: 500px;
}
.weldone-img3 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 2;
}
.weldone-img2 {
    position: absolute;
    left: 0px;
    top: 90px;
    z-index: 2;
}
.weldone-img1 {
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 3;
}
.weldone-truck {
    position: absolute;
    left: 0;
    top: 95px;
    z-index: 4;
}
.weldone-user {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 4;
}
.weldone-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4;
}
.mblbgsix {
    background: url("../images/laptopbg.png") no-repeat fixed 0 0 / 100% auto rgba(0, 0, 0, 0);
    background-size: cover;
    height: 870px;
}
.mblbgsix h2 {
    color: #fff;
}
.sixspecificationmbl {
    background: url(../images/android2.png) no-repeat;
    height: 780px;
    width: 397px;
    margin: 0 auto;
}
.six-specifications {
}
.six-specifications a {
    display: block;
    color: #fff;
    font-size: 30px;
    margin-bottom: 60px;
}
.six-specifications a:last-child {
    margin-bottom: 0;
}
.six-specifications a span {
    width: 135px;
    height: 135px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}
.six-icon1 span {
    background: url(../images/six1.png) no-repeat center center #fff;
}
.six-icon2 span {
    background: url(../images/six2.png) no-repeat center center #fff;
}
.six-icon3 span {
    background: url(../images/six3.png) no-repeat center center #fff;
}
.six-icon4 span {
    background: url(../images/six4.png) no-repeat center center #fff;
}
.six-icon5 span {
    background: url(../images/six5.png) no-repeat center center #fff;
}
.six-icon6 span {
    background: url(../images/six6.png) no-repeat center center #fff;
}
.eight-specifications {
    background: #eee;
    padding-top: 80px;
    padding-bottom: 50px;
}
.eight-specifications-item {
    background: #fff;
    border-radius: 50px;
    height: 250px;
    font-size: 24px;
    position: relative;
    overflow: hidden;
}

.eight-specifications-item:hover {
    background: #373737;
}
.eight-specification-hvr-cntnt {
    background: none repeat scroll 0 0 #373737;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;

    transform: scale(2);
    -webkit-transform: scale(2);

    -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.eight-specifications-item:hover .eight-specification-hvr-cntnt {
    opacity: 1;

    transform: scale(1);
    -webkit-transform: scale(1);

    -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.eight-specification-hvr-cntnt.opened-eightcontant {
    opacity: 1;

    transform: scale(1);
    -webkit-transform: scale(1);

    -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.eight-specification-hvr-cntnt > p {
    color: #bdbdbd;
    font-size: 16px;
    padding: 0 10px 10px;
}

.eight-specification-hvr-cntnt h4 {
    color: #fff;
    font-size: 24px;
    padding: 10px 0;
    position: relative;
}

.eight-specification-hvr-cntnt h4:before {
    background: #ff0000;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 100px;
}

.ipadvdolftrgt span {
    display: inline-block;
}
.eight1icon span {
    background: url(../images/contact.png) no-repeat center center;
    height: 64px;
    display: block;
}
.eight2icon span {
    background: url(../images/Rating.png) no-repeat center center;
    height: 64px;
    display: block;
}
.eight3icon span {
    background: url(../images/Service-Frequency-Report.png) no-repeat center center;
    height: 64px;
    display: block;
}
.eight4icon span {
    background: url(../images/View-Promotion.png) no-repeat center center;
    height: 64px;
    display: block;
}
.eight5icon span {
    background: url(../images/Broadcast.png) no-repeat center center;
    height: 64px;
    display: block;
}
.eight6icon span {
    background: url(../images/ProjectedDeliveryReport.png) no-repeat center center;
    height: 64px;
    display: block;
}
.eight7icon span {
    background: url(../images/signe.png) no-repeat center center;
    height: 64px;
    display: block;
}
.eight8icon span {
    background: url(../images/banlance.png) no-repeat center center;
    height: 64px;
    display: block;
}
.download-main {
    background: #f6f6f6;
    padding: 25px 0 80px;
}
.download-main h3 {
    font-size: 40px;
    margin-bottom: 40px;
}
.download-main p {
    font-size: 30px;
    color: #999;
}
.download-main p span {
    color: #666;
}
.footer-contact {
    background: #282828;
    padding-bottom: 50px;
}
.footer-contact h2 {
    color: #fff;
}
.footer-contact input {
    border: none;
    border-radius: 2px;
    font-size: 20px;
    height: 55px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}
.footer-contact textarea {
    border: none;
    border-radius: 2px;
    font-size: 20px;
    height: 100px;
    margin-bottom: 10px;
    padding: 5px 10px 10px;
    width: 100%;
}
.footer-contact .col-md-6, .footer-contact .col-md-12 {
    padding: 0 5px;
}
.footer-contact button {
    background: none repeat scroll 0 0 #ff0000;
    border: medium none;
    color: #fff;
    font-size: 24px;
    padding: 15px 25px;
}
.weldone-paddingtop {
    padding-top: 100px;
}
.revolutionize-paddingtop {
    padding-top: 60px;
}
.footer-links {
    background: #373737;
    padding-top: 13px;
    margin: 0;
}
.social-mda {
}
.flinks-main {
}
.social-mda ul, .flinks-main ul {
    list-style: none;
    padding-left: 0;
}
.social-mda ul li, .flinks-main ul li {
    display: inline-block;
}
.social-mda ul li a {
    display: block;
    height: 40px;
    width: 40px;
}
.flinks-main ul li a {
    color: #fff;
    display: block;
    font-size: 18px;
    padding: 7px 15px;
}
.flinks-main ul li a:first-child {
    padding-left: 0;
}
.fb-icon {
    background: url(../images/facebook-icon-hvr.png) no-repeat;
}

.fb-icon:hover {
    background: url(../images/facebook-icon.png) no-repeat;
}
.tw-icon {
    background: url(../images/twitter-icon-hvr.png) no-repeat;
}

.tw-icon:hover {
    background: url(../images/twitter-icon.png) no-repeat;
}
.gp-icon {
    background: url(../images/google-plus-icon.png) no-repeat;
}
.copyright-txt {
    border-top: 1px solid #464646;
    color: #fff;
    padding: 20px 15px 10px;
}
/*!
 * Start Bootstrap - Full Slider HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html, body {
    height: 100%;
}
.carousel, .item, .active {
    height: 800px;
}
#myCarousel1.carousel, #myCarousel1 .item {
    height: 450px;
}
.carousel-inner {
    height: 100%;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
#myCarousel1 .carousel-caption {
    text-shadow: none;
    top: 0;
}
/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}
.client-name {
    font-size: 30px;
    color: #ff0000;
}
.client-txt {
    color: #333;
    font-size: 24px;
}
.abt-client {
    color: #999;
    font-size: 18px;
}
.clnt-dtls {
}
.clnt-dtls span {
    display: block;
}
.clint-pic > img {
    border-radius: 100%;
    height: 150px;
    width: 150px;
}
/*header slider test*/
#myCarousel .carousel-caption {
    bottom: 0;
    color: #ffffff;
    left: 0;
    padding-bottom: 0px;
    padding-top: 0;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    top: 0;
    z-index: 10;
}
.sldr-txt {
    font-size: 30px;
    color: #fff;
}
.bnr-link-btn {
    background: #ff0000;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    padding: 10px 15px;
}
.bnr-ttl {
    font-size: 48px;
    font-family: 'helveticaneue-medium';
    color: #fff;
}
.carousel-control {
    z-index: 10;
    opacity: 1;
}
.login-register-top {
    background: #eee;
}
.login-register-top ul {
    list-style: outside none none;
    margin: 0;
    padding: 5px 0;
}
.login-register-top ul li {
    display: inline;
}
.login-register-top ul li a {
    font-size: 18px;
}
.login-register-top ul li:first-child {
    border-right: 1px solid #d9d9d9;
    margin-right: 10px;
    padding-right: 10px;
}
.carousel-control .icon-prev::before {
    content: url(../images/bnr-arw-lft.png);
    padding: 10px 15px;
}
.carousel-control .icon-next::before {
    content: url(../images/bnr-arw-rgt.png);
    padding: 10px 15px;
}
.carousel-control.left:hover .icon-prev::before {
    background: #ff0000;
    border-left: #d80000 solid 20px;
}
.carousel-control.right:hover .icon-next::before {
    background: #ff0000;
    border-right: #d80000 solid 20px;
}
.carousel-control .icon-prev {
    width: auto;
    margin: 0;
    left: 0;
}
.carousel-control .icon-next {
    width: auto;
    right: 0;
    margin: 0;
}
.ftr-contact-icon {
    margin-top: 80px;
}
.ftr-contact-icon span {
    display: block;
    height: 103px;
    position: absolute;
    top: -130px;
    width: 100%;
}

.cntct-icn {
    background: url(../images/ftr-cntctus-icon.png) no-repeat center 0;
}

.crprt-adrs-icn {
    background: url(../images/corporateaddress-icon.png) no-repeat center 0;
}

.sc-sdrs address {
    color: #888;
    font-size: 18px;
}

.sc-sdrs address span {
    color: #ff0000;
    font-size: 30px;
	display:block;
}

.sc-eml-adrs {

}

.sc-eml-adrs > span {
    color: #ff0000;
    font-size: 30px;
}

.sc-eml-adrs > a {
    font-size: 18px;
}

.sc-eml-adrs > a:hover {
    color: #ff0000;
}


#myCarousel1 .carousel-control .icon-prev::before {
    content: url(../images/ct-arw-lft.png);
    padding: 10px 15px;
}
#myCarousel1 .carousel-control .icon-next::before {
    content: url(../images/ct-arw-rgt.png);
    padding: 10px 15px;
}
#myCarousel1 .carousel-control.left:hover .icon-prev::before {
    content: url(../images/bnr-arw-lft.png);
}
#myCarousel1 .carousel-control.right:hover .icon-next::before {
    content: url(../images/bnr-arw-rgt.png);
}
/*Delays*/

.delay-01s {
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}
.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}
.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}
.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}
.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}
.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}
.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}
.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}
.delay-09s {
    animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
}
.delay-10s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.delay-11s {
    animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
}
.delay-12s {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}
.delay-13s {
    animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
}
.delay-14s {
    animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s;
}
.delay-15s {
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}
.delay-16s {
    animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
}
.delay-17s {
    animation-delay: 1.7s;
    -webkit-animation-delay: 1.7s;
}
.delay-18s {
    animation-delay: 1.8s;
    -webkit-animation-delay: 1.8s;
}
.delay-19s {
    animation-delay: 1.9s;
    -webkit-animation-delay: 1.9s;
}
.delay-20s {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}
/*Delays*/

/*pricing section css starts*/
.Pricing-main {
}
.cstm-prsng-tbl {
    text-align: center;
    width: 100%;
}
/*pricing section css ends*/


/*register starts*/

.rgstr-optn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.rgstr-optn h2 {
    color: #ff0000;
    font-family: "helveticaneue-light";
    font-size: 40px;
    margin: 25px 0 10px;
    padding-bottom: 25px;
}
.rgstr-optn > div > p {
    color: #999;
    font-size: 30px;
}
.rgstr-opt-tbl {
    display: table;
    height: calc(100% - 165px);
    left: 0;
    margin: 0;
    min-height: 550px;
    position: absolute;
    top: 166px;
    width: 100%;
}
.rgstr-opt-tblcl {
    display: table-cell;
    vertical-align: middle;
    float: none;
    padding: 30px;
    overflow: hidden;
}
.rgstr-opt-tblcl h3 span {
    font-size: 24px;
    color: #999;
}
.rgstr-opt-tblcl h3 {
    font-size: 38px;
    color: #373737;
}
.rgstr-opt-tblcl h3 i, i.icon-red-round-bg {
    border-radius: 150px;
    display: inline-block;
    height: 150px;
    width: 150px;
    margin: 20px 0 15px;
}
.rgstr-opt-tblcl:nth-child(1) {
    background: #f9f9f9;
}
.rgstr-opt-tblcl:nth-child(2) {
    background: #efefef;
}
.rgstr-opt-tblcl:nth-child(3) {
    background: #e6e6e6;
}
.rgstr-optn-hidn-contnt {
    font-size: 26px;
    color: #656565;
    position: relative;
    height: 0;
    overflow: hidden;
    /*transform:translateY(500px);
    -webkit-transform:translateY(500px);*/

    -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.rgstr-opt-tblcl:hover .rgstr-optn-hidn-contnt {
    /*transform:translateY(0px);*/
    height: 250px;
}
.rgstr-optn-hidn-contnt span {
    color: #363636;
    font-family: 'helveticaneue-medium';
}

.rgstr-optn-hidn-contnt a, .rgstr-opt-tblcl > a {
    background: #373737;
    border-radius: 100px;
    color: #fff;
    font-size: 24px;
    display: inline-block;
    font-family: "helveticaneue-medium";
    padding: 5px 15px;
    transform: scale(1, 1);
}
.rgstr-optn-hidn-contnt:before {
    background: #ff0000;
    right: 0;
    content: "";
    height: 5px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100px;
}
.distributor-icon {
    background: url(../images/distributor-icon.png) no-repeat center center #ff0000;
}
.manufacturer-icon {
    background: url(../images/manufacturer-icon.png) no-repeat center center #ff0000;
}
.retailer-icon {
    background: url(../images/retailer-icon.png) no-repeat center center #ff0000;
}

.sngllctn-icon {
    background: url(../images/sngl-lctn.png) no-repeat center center #ff0000;
}

.mltpl-lctn-icon {
    background: url(../images/mltpl-lctn.png) no-repeat center center #ff0000;
}

.crprtacnt-icon {
    background: url(../images/crprt-acnt.png) no-repeat center center #ff0000;
}
.rgstr-optn-hidn-contnt > p {
    padding: 25px 0 15px;
}
.sc-rgstr-form {
    text-align: center;
}
.sc-rgstr-form input[type="text"], input[type="password"], input[type="time"], input[type="date"], .sc-rgstr-form select {
    width: 100%;
    background: #eee;
    border: none;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 24px;
}
.sc-form-dvdr {
    background: #ccc;
    height: 1px;
    position: relative;
    margin: 50px 0 20px;
}
.sc-form-dvdr span {
    background: #fff;
    color: #666;
    font-size: 20px;
    left: 0;
    padding-right: 10px;
    position: absolute;
    top: -16px;
}
.sc-rdobtn input[type=radio] {
    display: none;
}
.sc-rdobtn input[type=radio] + label {
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #666;
    cursor: pointer;
    display: block;
    font-size: 24px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
    margin-bottom: 15px;
    text-align: left;
}
.sc-rdobtn {
    padding-bottom: 5px;
}
.sc-rdobtn label {
    background-image: url(../images/sc-rdo.png);
}
.sc-rdobtn input[type=radio]:checked + label {
    background-position: left -50px;
}
.sc-scrtq {
    padding-top: 10px;
    text-align: left;
}
.sc-scrtq hr {
    margin-top: 0;
    margin-bottom: 20px;
}
.sc-scrtq label {
    color: #666;
    font-size: 24px;
    font-weight: normal;
}
.sc-scrtq label span {
    border: 1px solid #666;
    border-radius: 100px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    width: 36px;
}
.sc-rgstr-form input[type="submit"] {
    background: #ff0000;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    font-size: 30px;
    padding: 10px 15px;
    margin-bottom: 15px;
}
.acpttc-rgstr {
    font-size: 18px;
    color: #999;
    margin: 15px 0;
}
.acpttc-rgstr a {
    color: #373737;
}
.rgstr-bck-btn {
    position: absolute;
    color: #fff;
    left: 0;
    top: 0;
}
/*About page start*/
.about_content_bg {
    background: url("../images/about_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 273px;
    width: 100%;
    margin: -50px 0 0;
}
.about_content_bg h2 {
    color: #FFF;
    padding: 90px 0 25px;
}
.about_content_main {
    margin: 50px 0px;
}
.about_content_box {
    margin-top: 50px;
}
.solutions_content {
    margin: -135px 0 100px;
}
.solutions-bg-img {
    height: 603px;
}
.solutions-bg-sub {
    height: 585px;
}
.icon-prev_sol, .icon-next_sol {
    margin: -130px 0 0 !important;
}
.retailer_pricing_content {
    font-size: 20px;
    margin: -15px 0 0;
}
.brad-cramb {
    border-bottom: 2px solid #dddddd;
}
.brad-cramb_cont {
    padding: 15px;
}
.about_con_ntp {
    margin: 15px;
    clear: both;
}
.about_con_ntp h1 {
    border-bottom: 1px solid #ff9a35;
    width: 15%;
}
.about_content_p {
	color: #848484;
	font-size: 24px;
	line-height: 36px;
	margin: 10px 0 35px;
	font-weight: normal;
	clear: both;
}
.our-team_main {
    margin: 0 0 20px;
}

.our-team_main li {
    margin: 0 0 10px;
}
.our-team_main h4 {
    font-weight: bold;
    text-align: center;
}
.our-team_main h4 span {
    font-weight: normal;
}
.our-team_main p {
    text-align: center;
    font-size: 16px;
}
.abt-sub-tit{
	color: #545454;
   font-size: 30px;
   margin: -30px 0 0;
   text-align: center;
}
.about_content_p span{
	color: #FF0000;
}
.abt-sub-tit-img{
	box-shadow: 0 0 3px 3px #c2c2c2;
}	
.abt-user{
	border-bottom: 1px solid #dedede;
   color: #545454;
   font-size: 30px;
   padding: 0 0 15px;
   margin-bottom: 40px;
}

/*About page End*/


/*Contact us page Start*/
.contact-us-bg {
    background: #F6F6F6;
    padding: 20px 0 70px;
}
.con-title span {
    color: #959595;
    font-size: 24px;
    text-align: center;
}
.contact-box input[type='text'] {
    border: 1px solid #bcbcbc;
    background: #FFF;
    margin: 10px 0 12px;
    padding: 8px;
}
.contact-box input[type='checkbox'] {
    margin: 10px 12px 20px -15px;
}
.contact-box input[type='button'], .pay-now input[type='submit'] {
    background: none repeat scroll 0 0 #ff0000;
    border: medium none;
    color: #fff;
    font-weight: bold;
    margin-left: -15px;
    padding: 10px 40px;
}
.contact-box-address {
    border: 1px solid #bcbcbc;
    background: #FFF;
    margin: 10px 0 12px;
    padding: 8px;
    resize: none;
    height: 162px;
}
.contact-box-message {
    border: 1px solid #bcbcbc;
    background: #FFF;
    margin: 10px 0 12px;
    padding: 8px;
    resize: none;
    height: 100px;
}
.contact-box span {
    font-size: 16px;
}
/*Contact us page End*/

/*Price table page start*/
.price_sec_main {
    /*margin: 0 0 125px;*/
}
.price-ti-mi {
    margin: 20px 0;
}
.price-ti-mi h2 {
    margin: 0 0 20px;
    padding: 0 0 20px;
}
.price-ti-mi p {
    font-size: 22px;
    text-align: center;
    margin: 0 0 40px;
}
.price-tab-box {
    /*margin: 20px 0 100px;*/
    margin: 0 0 0 15px;
}
.price-tab-box table {
    margin: 0 -15px 0 0;
}
.price-tit-box {
    color: #ff0000;
    font-size: 12px;
    padding: 10px 0 0 0;
    text-align: center;
}
.tab-det-can {
    min-height: 53px;
    line-height: 21.8px;
    padding: 6px 0;

}
.tab-det-can span {
    font-size: 14px;
    font-weight: bold;
}
.tab-det-can p {
    font-size: 14px;
    margin: 0;

}
.pricing_table_wdg {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    /*float:left;
        width: 11%;*/
}
.pricing_table_wdg ul {
    background-color: #fff;
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.pricing_table_wdg ul li:nth-child(1) {
    color: #373737;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0 54px 0;
    width: 146px;
}
.pricing_table_wdg ul li {
    border: 1px solid #efefef;
    font-size: 16px;
    padding: 13.5px;
    font-weight: bold;
    max-height: 58px;
}
.price-tab-box table tr td {
    background: none repeat scroll 0 0 #eee;
    border: 1px solid #bcbcbc;
    color: #413e3e !important;
    font-size: 16px;
    padding: 0 5px;

}
.price-tab-box table tr:nth-child(1) td, .price-tab-box table tr:nth-child(2) td {
    border: 1px solid #bcbcbc;
    color: #6a6a6a !important;
    font-size: 16px;
    height: 76px;
}
.price-tab-box table tr:nth-child(3) td, .pricing_table_wdg ul li:nth-child(2) {
    background: #EFEFEF;
    color: #6a6a6a;
    font-size: 16px;
    padding: 18px 6px;
}
.pricing_part_one {
    background: #373737;
    float: left;
    text-align: center;
    width: 146px;
}
.pricing_part_one:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    cursor: pointer;
    background: #FF0000;
    color: #FFF !important;
    padding: 0 0 0px 0;
    margin: 0px 0 0px 0;
}
.pricing_part_one:hover .price-tit-box {
    color: #FFF;
}
/*.plan-select{
	color: #373737;
	margin: 0 0 -27px;
}*/
.pricing_part_one:hover .select-plan label {
    color: #FFF;
    background: #FF0000 !important;
}
.pricing_part_one:hover .pri_bla_hover li {
    color: #FFF;
    background: #373737;
    border: 1px solid #272727;
}
.pricing_part_one h3, .pricing_part_one span {
    color: #FFF !important;
    margin: 0;
    padding: 0;
}
.addi_pack_main {
    margin: 80px 15px;
}
.addi_pack_main table, .addi_pack_main table tr td {
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    padding: 10px;
}
.addi_pack_main table tr td:last-child {
    width: 19%;
}
.addi_pack_main table tr th {
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    color: #989898;
    font-size: 15px;
    padding: 16px 12px;
}
/*.addi_pack_sel{
	background: none repeat scroll 0 0 #ff0000;
   border-radius: 5px;
   color: #fff;
   font-weight: bold;
   padding: 10px 40px;
   text-decoration: none;
   margin-left: 10px;
}*/
.addi_par_ac {
    color: #989898;
    font-size: 25px;
}
.addi_how_man {
    color: #848484;
    margin: 12px 0 0 -15px;
    width: 18%;
}
.addi_how_input {
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    margin: 8px 0 0;
    padding: 5px;
    width: 25%;
}
.addi_how_tem_main {
    margin-bottom: 100px;
}
.addi_how_tem {
    margin: 0 0 25px -15px;
    color: #848484;
}
.addi_how_tem a {
    border-bottom: 1px solid;
}
.sel-plan-title {
    width: 15%;
}
/*Plan radio button box start*/
.select-plan input[type=radio] {
    display: none;
}
.select-plan input[type=radio] + label {
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #666;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}
.select-plan label {
    /*background-image:url(../images/sc-rdo.png);*/
    margin: -14px -14px 0 -15px;
    padding: 14px 0;
}
.select-plan input[type=radio]:checked + label {
    background-color: #ff0000;
    color: #fff;
    font-weight: bold;
    margin: -14px -15px 0;
    padding: 14px 0;
}
/*Plan radio button box End*/

/*Plan check box start*/

.oth-sel-chckbx input[type="checkbox"] {
    display: none;
}
.oth-sel-chckbx input[type="checkbox"]:checked + label {
    background: #373737;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    padding: 10px 65px;
    text-decoration: none;
    margin-left: 10px;
}
.oth-sel-chckbx label {
    background: #ff0000;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    padding: 10px 65px;
    text-decoration: none;
    margin-left: 10px;
}
/*Plan check box End*/


/*Price table page End*/

/*Custom Checkbox starts*/
.remember-chckbx input[type=checkbox] {
    display: none;
}

.remember-chckbx input[type=checkbox] + label {
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding-left: 20px;
    width: 16px;
    margin-bottom: 0;
}

.remember-chckbx input[type=checkbox]:checked + label {
    background-position: left -21px;
}

.remember-chckbx label {
    background-image: url(../images/tandc.png);
}

/*Custom Checkbox ends*/
.client-tstmonials {
    clear: both;
    display: none;
}


/*Subscribe Popup page start*/
.sub_search_box {
    background: #FFF;
}
.grey-submit {
    background: none repeat scroll 0 0 #ff0000;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 0 -15px;
    padding: 9px 20px;
}
.dark_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}
.bright_content {
    display: none;
    position: fixed;
    top: 25%;
    left: 35%;
    width: 35%;
    padding: 16px;
    background-color: white;
    z-index: 1002;
}
.sub_close {
    background: none repeat scroll 0 0 #e2e2e2;
    border: 2px solid #ff0000;
    border-radius: 36px;
    float: right;
    font-weight: bold;
    height: 35px;
    padding: 5px 0 0 1px;
    text-align: center;
    top: 0;
    width: 35px;
}
.pop-content {
    margin: 40px 10px 0 0;
}
.pop-content label {
    /*width: 27%;*/
}
.pop-content input[type='text'], .pop-content select {
    border: 1px solid #bcbcbc;
    height: 30px;
    background: #FFF;
    margin: 0 0 15px 0; /*width: 60%;*/
}
.pop-content input[type='button'] {
    background: none repeat scroll 0 0 #ff0000;
    border: medium none;
    color: #fff;
    font-weight: bold;
    margin: 5px 0 15px;
    padding: 8px 27px;
}

/*Subscribe Popup page End*/

/*CSS for Home page Responsive*/
.navbar-toggle {
    background: #373737;
    margin-top: 35px;
}

.icon-bar {
    background: #ff0000;
}


.rgt-tp-note-main {
    background: #eeeeee;
    padding: 20px;
    position: fixed;
    right: 50%;
    top: 60px;
    width: 300px;
    margin-right: -150px;
    z-index: 1000;
    display: none;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
}

.rgt-tp-note-main-ovrly {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.rgt-tp-note-main p {
    font-size: 24px !important;
    margin-bottom: 0 !important;
}

.rgt-tp-note-main span {
    font-size: 24px !important;
    display: block;
    cursor: pointer;
}

.nmbr-of-stors {
    padding-right: 62px;
    position: relative;
}

.nmbr-of-stors span {
    border: 3px solid #333;
    border-radius: 100%;
    font-size: 32px;
    font-weight: bold;
    height: 50px;
    position: absolute;
    right: 0;
    top: 7px;
    cursor: pointer;
    width: 50px;
    color: #333;
}

.hw-wrks-vdo{
	margin: 34px 0px 0 67px;
	width: 611px;
	height: 459px;
}
@media only screen and (max-width: 767px) {
    .navbar-nav > li > a {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: 1px solid #ebebeb;
        border-left: 0;
    }

    .nav > li > a:hover, .nav > li > a:focus {
        background-color: #FF0000;
        color: #fff;
        border-bottom: 1px solid #d70101;
    }

    .ipadvdolftrgt, .sixspecificationmbl, section.mblbgsix .col-md-6 {
        display: none;
    }

    .six-specifications .mi-invisible {
        visibility: visible;
    }

    .flinks-main {
        padding: 0;
        text-align: center;
    }

    .flinks-main ul li {
        display: block;
    }

    .copyright-txt, .social-mda {
        text-align: center;
    }

    .download-logo {
        width: 80%;
        max-width: 463px;
    }

    .revolutionize-imgs, .welldone-imgs {
        margin: 0 auto;
    }
	
	.mblbgsix .col-md-3.col-sm-6.table-mi{
		width:100%;
	}
	
	.ipadvideo-main {
		background:none;
		height: auto;
	}
	
	.hw-wrks-vdo {
		margin: 0;
		width: 100%;
		height: auto;
		border: 2px solid #373737;
	}
	.rgstr-optn h2{
		margin: 40px 0 10px;
		font-size: 25px;
	}
	.rgstr-bck-btn-stp0{
		top: 0 !important;	
	}
	.rgstr-optn > div > p {
    	font-size: 20px;
	}
	.rgstr-opt-tblcl h3{
		font-size: 24px;
	}
	.rgstr-opt-tblcl{
		padding: 30px 0;	
	}	
	.sc-form-dvdr span{
		font-size: 16px;	
	}	
	.rgstr-opt-tblcl .rgstr-optn-hidn-contnt {
    	height: 240px !important;
    	display: block !important;
	}
	
}

@media only screen and (max-width: 540px) {
    .revolutionize-imgs {
        width: 290px;
        height: 200px;
    }

    .revolutionize-laptop {
        width: 100%;
    }

    .revolutionize-android {
        width: 70px;
        right: 70px;
    }

    .revolutionize-iphone {
        width: 80px;
    }

    .revolutionize-paddingtop {
        padding-top: 250px !important;
    }
}

@media only screen and (max-width: 463px) {
	.navbar-brand{
		float:none;	
		display:block;
	}
	
	.navbar-brand img{
		width:70%;
	}
	
	.dwnld-lgo-mi{
		width:100%;	
	}

    .navbar-toggle {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 389px) {
}

@media only screen and (max-width: 991px) {
.mblbgsix{
	height:auto;
	background-position:center center;
	padding-bottom:30px;	
}

.mrgn-tp-crprt-icn{
	margin-top:200px;	
}

.flinks-main, .social-mda, .copyright-txt, .copyright-txt p{
	text-align:center;	
}

.chng-strctr-mbl-mi{
	position:relative;	
}

.chng-strctr-mbl-mi .lptp-mbls{
	position:absolute;
	top:0;
	width:100%;
}

.revolutionize-paddingtop {
    padding-top: 350px;
}

.revolutionize-imgs, .welldone-imgs{
	margin:0 auto;	
}

    .carousel-inner .item:nth-child(1) .fill, .carousel-inner .item:nth-child(2) .fill, .carousel-inner .item:nth-child(3) .fill {
        background-position: right;
}
}

@media only screen and (max-width: 1024px) {
.rgstr-opt-tblcl{
	width:100%;
	float:left;	
}

.rgstr-opt-tbl{
	top:200px;	
}
.hw-wrks-vdo{
		margin: 34px 0 0 52px;
}	
}

@media only screen and (max-width: 450px) {
    .welldone-imgs {
        width: 290px;
        height: 400px;
    }

    .weldone-img1 {
        width: 160px;
        right: 0;
    }

    .weldone-img2 {
        width: 220px;
    }

    .weldone-img3 {
        width: 180px;
    }

    .weldone-user {
        width: 60px;
        top: 5px;
        right: 5px;
    }

    .weldone-truck {
        width: 60px;
        top: 100;
    }

    .weldone-cart {
        width: 60px;
    }
}

@media only screen and (max-width: 480px) {
.fill {
    background: no-repeat right top / 142% #eee;
}
    .fill{
        width: 100%;
        height: 39%;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }



.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 18%;
	display:none;
}
 .tablecell-mi > img {
        width: 80px;
 }
.table-mi-bnr .tablecell-mi {
	display: block;
	margin-top: 68%;
}
.bnr-ttl {
	color: #373737;
	text-shadow: none;
	font-size: 40px;
	margin: 10px 0;
}

    .sldr-txt {
        color: #373737;
        text-shadow: none;
        font-size: 30px;
    }

    .table-mi-bnr {
        height: auto;
    }

    .carousel, .item, .active {
        height: 650px;
    }

    section h2 {
        font-size: 40px;
    }

    .whatistxt {
        font-size: 18px;
        line-height: 30px;
    }

    .btmrdln {
        padding-bottom: 30px;
    }

    .dwnld-btns-mi a {
        display: inline-block;
    }

    .dwnld-btns-mi a:first-child {
        margin-bottom: 10px;
    }

    .carousel-indicators {
        display: none;
    }
  
}

.new-prz-tbl table {
    width: 100%;
}

.new-prz-tbl table thead tr td {
    background: #373737;
    color: #fff;
}

.new-prz-tbl table thead td {
    padding: 20px 0;
    border-radius: 30px 30px 0 0;
    border: none;
}

.new-prz-tbl table tbody tr td:nth-child(2), .new-prz-tbl table tbody tr td:nth-child(4) {
    background: #F3F3F3;
}

.new-prz-tbl table tbody tr td:nth-child(3) {
    background: #FFEFEF;
}

.new-prz-tbl table td {
    border: 1px solid #DFDFDF;
    position: relative;
}

.new-prz-tbl table td h3 {
    font-size: 24px;
    line-height: 30px;
    margin: 10px 0;
    padding: 10px 55px 10px 10px;
    position: relative;
}

.new-prz-tbl table td h3 span {
    background: #eee;
    cursor: pointer;
    position: absolute;
    right: 20px;
    height: 30px;
    width: 30px;
    display: block;
    text-align: center;
    top: 10px;
    border-radius: 100%;
    border: #ddd solid 1px;
}

.new-prz-tbl table td p {
    display: none;
    position: absolute;
    top: 10px;
    width: calc(100% - 70px);
    background: #eee;
    padding: 10px;
    font-size: 18px;
    right: 60px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #ccc;
}

.new-prz-tbl table td.opened-contant p {
    display: block;
}

.plan-ttl {
    font-size: 36px;
}

.plan-ttl span {
    font-size: 20px;
    display: block;
    color: #999;
}

.day-prz {
    font-size: 60px;
    padding: 15px 0;
}

.mnth-prz {
    font-size: 30px;
}

.new-prz-tbl table td input[type=radio] {
    display: none;
}

.new-prz-tbl table td input[type=radio] + label {
    background: #ff0000;
    width: calc(100% - 20px);
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    font-size: 24px;
    color: #fff;
    line-height: 47px;
    cursor: pointer;
}

.new-prz-tbl table td input[type=radio]:checked + label {
    background: #373737;
    color: #fff;
}

.clint-pic {
    display: none !important;
}

#myCarousel1.carousel, #myCarousel1 .item {
    height: 200px !important;
}

.acpttc-rgstr input[type=checkbox] {
    display: none;
}

.acpttc-rgstr input[type=checkbox] + label {
    background-position: 0 0;
    background-repeat: no-repeat;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
    margin-bottom: 0;
    vertical-align: middle;
    text-align: left;
}

.acpttc-rgstr {
    padding-bottom: 5px;
}

.acpttc-rgstr label {
    background-image: url(../images/sc-rdo.png);
}

.acpttc-rgstr input[type=checkbox]:checked + label {
    background-position: left -50px;
}


/*Payment page css start 18-06-2015*/

.pay_had_main{
	background: #373737;
}

.pay_had_main img{
	margin: 0 0px 30px;
}
.pay_had_right{
	color: #fff;
   font-size: 36px;
   font-weight: bold;
   margin-top: 65px;
   text-align: left;
}
.pay_had_sub_title{
	color: #fff;
   font-size: 36px;
   font-weight: normal;
}
.price_title{
	color: #373737;
   font-size: 130px;
   font-weight: bold;
}
.price_title sup{
	font-style:normal;
}
.price_title span{
	color: #ff0000;
   font-weight: bold;
}
.per-acc{
	color: #373737;
	font-size: 32px;
	margin: -15px 0 0;
}
.per-acc span{
	color: #373737;
	font-size: 32px;
	font-weight: bold;
}
.per-acc p{
    font-size: 22px;
}
.per-or{
	font-size: 36px;
	padding: 10px 0 15px;
}
.per-or:after{
	border-top: 2px solid #373737;
   content: "";
   height: 5px;
   margin: 27px 0 0 20px;
   position: absolute;
   width: 100px;
}
.per-or:before{
	border-top: 2px solid #373737;
	content: "";
	float: left;
	height: 5px;
	margin: 27px 0 0 -120px;
	position: absolute;
	width: 100px;
}
.price_title_nex{
	 color: #FF0000;
    font-size: 46px;
    font-weight: bold;
}
.price_title_nex sup{
	color:#373737;	
}
.per-acc_nex{
	font-size: 28px;
}
.per-acc_nex p{
	font-size: 22px;
	margin-bottom: 40px;
}
.per-link-content{
	font-size: 28px;
	padding-bottom: 20px;
}
.per-link-content b a{
	color: #FF0000;
}
.per-link-content b a:hover{
	color: #FF0000;
	border-bottom:2px solid #FF0000; 
}
.per-price-con a{
	color: #FF0000;
}

.per-price-con{
	clear: both;
   font-size: 24px;
   padding: 20px 0;
}	

.per-price-con input{
	transform: scale(2);
	-webkit-transform: scale(2);
	  margin-right: 10px;
}
.pay_sin-acc{
	background: #F0F0F0;
	color: #373737;
    font-size: 30px;
    padding: 20px 0;
    text-align: center;
}
.fnl-amnt{
	position:relative;	
}
.fnl-amnt input:before{
	content:"$";
}
.pay_sin-acc span{
	color: #ff0000;
   font-size: 40px;
}	
.ser_title{
	border-bottom: 1px solid #ddd;
 	color: #373737;
 	font-size: 30px;
 	margin: 25px 40px 0;
 	padding: 0 0 10px;
}
.ser_right_arrow{
   float: right;
   margin: 20px 0 30px;
}
.ser_title_red{
	color: #FF0000;
	cursor: pointer;
}
.service_box_main{
	margin-bottom: 20px;
}
.ser-tab-content{
	color: #373737;
   font-size: 20px;
   line-height: 28px;
   margin: 10px 0;
}
.ser_title a{
	display:block;
	cursor:pointer;
}

.ser_title p{
	font-size:24px;
	color:#373737;	
	display:none;
	margin-bottom:35px;
	padding-right: 70px;
	width:100%;
}
.how-to-gray{
	background:#F8F8F8; 
}
.how-to-bor{
	border-right: 1px solid #ccc;
}
.how-mont-pal{
	color: #373737;
    font-size: 24px;
    margin: -15px 0 0;
}
.how-plan{
	margin: 20px 0;
   padding: 1px 0;
}
.location-price label{
	color: #373737;
   font-size: 18px;
   font-weight: normal;
   text-align: center;
}
.location-price input[type='text']{
	border: 1px solid;
  color: #ff0000;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 20px;
  border-radius: 3px;
  height: 48px;
  width: 250px;
}

.prices-selected{
    background: none repeat scroll 0 0 #373737 !important;
    border: 1px solid #373737 !important;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 8px 40px;
    text-align: center;
}
.location-price input[type='button']{
   background: none repeat scroll 0 0 #ff0000;
   border: 1px solid #ff0000;
   border-radius: 25px;
   color: #fff;
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 20px;
   padding: 8px 40px;
   text-align: center;
}


.location-year:before{
	background: none repeat scroll 0 0 #373737;
   border-radius: 10px 0 0 10px;
   color: #ff0000;
   content: "$";
   font-weight: bold;
   padding: 14px 20px;
   position: absolute;
}
.location-year input[type='text']{
	background: none repeat scroll 0 0 #efefef;
   border: 1px solid #ccc;
   border-radius: 10px;
   color: #ff0000;
   height: 48px;
   margin-bottom: 20px;
   padding: 0 10px 0 56px;
   width: 250px;
}

.free-price input[type='button']{
   background: none repeat scroll 0 0 #ff0000;
   border: 1px solid #ff0000;
   border-radius: 25px;
   color: #fff;
   font-size: 18px;
   font-weight: bold;
   margin-top: 197px;
   padding: 8px 40px;
   text-align: center;
}

.add-on-fir{
	font-size: 28px;
	width: 60%;
}
.add-on-sen{
	font-size: 20px;
	width: 20%;
}
.add-on-thr{
	font-size: 20px;
	width: 20%;
}

.con-retailer-tab{
	 background: none repeat scroll 0 0 #f8f8f8;
	 margin-bottom: 22px;
    overflow: auto;
}
.con-retailer-tab table tr td{
	border: 1px solid #ccc;
   border-radius: 5px;
   padding: 10px 0;
}
.con-tab-details{
	font-size: 26px;
   margin: 0 0 0 15px;
}
.con-tab-det-sec{
	font-size: 22px;
   margin:0 15px;
}
.con-tab-details-btn{
	 background: none repeat scroll 0 0 #ff0000;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 20px;
    padding: 10px 50px;
    text-decoration: none;
}
.con-tab-det-sec span{
	 color: #ff0000;
    font-size: 36px;
}


.con-retailer{
	background:#f8f8f8;
   border: 1px solid #ccc;
   box-shadow: 0 0 3px #ccc;
   margin: 20px 0;
   padding: 10px 0;
}
.con-retailer-conte{
	color: #373737;
   font-size: 39px;
   padding: 30px 0;
}
.con-retailer input[type='button']{
	 background: none repeat scroll 0 0 #ff0000;
    border: medium none;
    border-radius: 25px;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 7px 76px;
}
.con-retailer p{
    font-size: 22px;
    margin-bottom: 20px;
}
.con-retailer-btn{
	background: none repeat scroll 0 0 #ff0000;
   border-radius: 5px;
   color: #fff;
   font-size: 18px;
   font-weight: bold;
   padding: 15px 50px;
   margin: 0 0 20px;
   float: right;
}
/*Payment page css end*/


/*Transaction page css start*/

.tran-left{
	color: #373737;
 	font-size: 46px;
 	text-align: center;	
}
.tran-right{
	background:#f8f8f8;
 	border: 1px solid #bcbcbc;
 	border-radius: 10px;
 	color: #373737;
 	padding: 25px 10px;
 	margin: 0 0 20px;
}
.tran-right p{
	font-size: 30px;
 	margin: 0 15px;
}
	
	
.pay-check {
    margin-bottom: 5px;
}

.pay-check input[type="checkbox"] {
    display: none;
}

.pay-check input[type="checkbox"]:checked + label {
    background-position: left -45px;
}

.pay-check input[type="checkbox"] + label {
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
}

.pay-check label {
    background: url("../../assets/images/check_box.png");
    color: #D8D8D8;
    font-size: 30px;
}
.pay-check span {
    color: #d8d8d8;
    font-size: 30px;
    font-weight: normal;
    margin: 0 0 0 40px;
}
.tran-pay-left{
	color: #7C7C7C;
 	font-size: 30px;
 	margin: 25px 0 0;
 	text-align: right;
}



.pay-radio {
    margin-bottom: 5px;
    padding: 0;
}

.pay-radio input[type="radio"] {
    display: none;
}

.pay-radio input[type="radio"]:checked + label {
    background-position: left -26px;
}

.pay-radio input[type="radio"] + label {
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 26px;
    padding: 0 0 0 25px;
}

.pay-radio label {
    background-image: url("../images/radio_button.png");
    margin: 0px 0 -15px 0;
}

.pay-radio-img{
	 margin: 0px 10px 0;
}
.pay-radio li{
	display: inline;
   list-style: outside none none;
}
.pay-radio > li:last-child {
    margin: 0 0 0 50px;
}
.pay-text-box{
	background: none repeat scroll 0 0 #eeeeee;
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 15px;
   margin: 20px 0 0 0;
   width: 100%;
}
.pay-text-box-lbl{
	color: #bebebe;
   font-size: 25px;
   font-weight: normal;
   padding: 0;
}
.cvv-code{
	margin: 7px 0 8px;
   padding: 0;
}
.pay-now input[type='button']{
	background: none repeat scroll 0 0 #ff0000;
   border: 1px solid #ff0000;
   border-radius: 5px;
   color: #fff;
   font-size: 30px;
   font-weight: bold;
   margin: 30px 0;
   padding: 10px 40px;
}

.con-retailer-next {
    color: #373737;
    font-size: 39px;
    margin: -10px 0 30px;
}
.yer-mont{
	margin: -5px 0px 15px;
	font-size:18px;
}
.fill{
    width: 100%;
   
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{
    top: 18%;
    display: none;
}

.table-mi-bnr .tablecell-mi{
    display: block;
    margin-top: 30%;
}
.payment-img{
	margin: 20px 0 0 0;	
}	
.payment-img img{
	margin: 0 20px 0 0;	
}	
.payment-cont{
	font-size: 16px;
	color: #373737;
	margin: 15px 0 0 0;	
}	
.payment-cont label,.payment-cont span{
	display: none;	
}	
.payment-cont input[type='checkbox']{
	float: left;
   margin: 10px 12px 0 7px;
   transform: scale(2);
}	
.payment-cont p{
	padding: 5px 0px 0 0px;
}


/*Transaction page css end*/

@media all and (min-width: 320px) and (max-width: 640px) {
	
	.table-mi-bnr .tablecell-mi{
    	display: block;
    	margin-top: 72%;
	}
	.tran-pay-left{
		text-align: left;
		margin:15px 0 0px 0; 	
	}
	
	
	.pay-radio-img {
    	margin: 10px 0;
	}
	.price_title {
    	font-size: 80px;
	}
	.per-link-content{
		font-size: 22px;
	}
	.per-acc {
    	margin: 35px 0 0;
	}	
	.free-price input[type="button"] {
		margin-top:0;
	}	
	.con-retailer-btn{
		 margin: 0 10px 20px;
	}
	.con-retailer-tab > table{
		 width: 700px;
	}	
	.con-tab-details-btn {
    	font-size: 14px;
    	margin-left: 15px;
    	margin-right: 20px;
    	padding: 10px 23px;
    	float: left;
	}
	
	.abt-user {
		text-align: center;	
	}
	.abt-sub-tit-img {
	    margin: 0 50px;
	}	
	.about_con_ntp{
		margin: 0;	
	}	
}	

@media all and (min-width: 768px) and (max-width: 1024px) {
	
	.tran-pay-left{
		text-align: left;
		margin:15px 0 0px 0; 	
	}
	.con-tab-details-btn {
    	font-size: 14px;
    	margin-left: 10px;
    	margin-right: 10px;
    	padding: 10px 40px;
    	float: left;
	}
	.location-price{
		margin: 0;
		padding: 0;	
	}
	.location-price label{
		width: 230px;	
	}
	.free-price input[type="button"] {
		margin-top:0;
	}
    .header-bgimg-right{
       background-position:right;
    }

	
}	
	
input#consumer-remembersingle{
    transform: scale(2);
    -webkittransform: scale(2);
}
input#consumer-remembermulti{
    transform: scale(2);
    -webkittransform: scale(2);
}
input#consumer-remembercor{
    transform: scale(2);
    -webkittransform: scale(2);
}
input#consumer-rememberman{
    transform: scale(2);
    -webkittransform: scale(2);
}
input#consumer-rememberdis{
    transform: scale(2);
    -webkittransform: scale(2);
}



/*Invoice page start date 3-7-2014*/
.inv-main{
	width: 780px;
	margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}
.inv-sub{
	width: 520px;
	clear: both;
}

.inv-address span {
   clear: both;
   color: #373737;
   float: left;
   font-size: 12px;
   font-weight: bold;
}
.inv-address table tr td {
   color: #373737;
   font-size: 12px;
   font-weight: bold;
   padding-right: 15px;
   text-align: right;
}
.inv-address table tr td:nth-child(2) {
    border: 1px solid #000;
    color: #ff0000;
    padding: 0 5px;
    text-align: center;
}
.inv-address table {
    float: right;
}
.table-pad{
	padding: 0;
}
.bill-to p{
	background: none repeat scroll 0 0 #ff0000;
   color: #fff;
   font-weight: bold;
   margin: 20px 0 5px;
   padding: 0px 10px;
   text-align: left;
}
.bill-to span{
	clear: both;
   color: #FF0000;
   float: left;
   font-size: 12px;
   font-weight: bold;
}
.invdes-box{
	margin: 20px 0 0 15px;
}
.invdes-box table tr th{
	background: none repeat scroll 0 0 #ff0000;
   color: #fff;
   font-size: 14px;
   font-weight: bold;
   text-align: center;
}
.invdes-box table tr td{
	color: #FF0000;
	font-size: 12px;
	text-align: center;
	border:1px solid #373737; 
	border-top:none;
	border-bottom:none;
	
}
.invdes-box table tr:nth-child(2n+1){
	background-color: #dedede;
}
.other-totle{
	 margin: 5px -5px 0 0;
}
.other-comment{
	border: 1px solid #373737;
   margin-top: 20px;
}
.other-comment p{
	background: none repeat scroll 0 0 #ff0000;
   color: #fff;
   font-weight: bold;
   margin: 0px 0 5px;
   padding: 0px 10px;
   text-align: left;
}
.other-comment-main{
	margin-left: 15px;
   padding: 0;
}
.other-totale table tr td:nth-child(2) {
    color: #ff0000;
    padding: 0 0 0 10px;
    text-align: right;
}
.other-totale table tr:last-child td:nth-child(2) {
    background: #FFB5B5;
}
.other-totale table tr td{
    color: #010000;
    text-align: right;
    padding: 0px 12px 0 0px;
}
.other-totale table{
	float: right;
}
.other-totale table tr:last-child{
	border-top: 4px double #000;
   font-weight: bold;
}
.other-comment ul{
	color: #000;
   font-size: 12px;
   list-style: outside none none;
   padding: 0 0 0 12px;
}
.footer-main{
	margin: 20px 0 0 0;
}
.footer-main p{	
	color: #000;
   font-size: 12px;
   line-height: 5px;
}
.invoice-button input[type='button']{
    background: none repeat scroll 0 0 #ff0000;
    border: 1px solid #ff0000;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 10px 20px 0;
    padding: 8px;
    width: 180px;
}
	
/*Invoice page end*/

















