/*.content{
	margin: 0 auto;
   width: 420px;
   background:#fff;
   padding: 20px;
}*/

/*.content_details{
	margin: 0 auto;
   width: 100%;
}*/

/*.content_header{
    color: #fff;
    height:0 auto;
}*/
/*.content_header span{
	float: left;
   font-size: 25px;
   font-weight: bold;
   margin: 0px 0 5px 10px;
}*/
/*.content_header span a{
	color:#2174B8; 
	text-decoration: none;
}*/
.pricing_table_wdg {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    /*float:left;
    width: 11%;*/
}

.pricing_table_wdg ul {
    background-color: #fff;
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.pricing_table_wdg ul li:nth-child(1) {
    color: #373737;
    font-size: 20px;
    font-weight: bold;
    /*padding: 12px 60px 18px;*/
    width: 140px;
}

.pricing_table_wdg ul li {
    border: 1px solid #efefef;
    font-size: 16px;
    padding: 13.5px;
    font-weight: bold;
    max-height: 58px;
}

.price-tab-box table tr td {
    color: #413e3e !important;
    font-size: 16px;
    border: 1px solid #bcbcbc;
    padding: 0 5px;
}

.price-tab-box table tr:nth-child(1) td, .price-tab-box table tr:nth-child(2) td {
    border: 1px solid #bcbcbc;
    color: #6a6a6a !important;
    font-size: 16px;
    height: 67px;
}

.price-tab-box table tr:nth-child(3) td, .pricing_table_wdg ul li:nth-child(2) {
    background: #EFEFEF;
    color: #6a6a6a;
    font-size: 16px;
    padding: 15px 6px;
}

.pricing_part_one {
    background: #373737;
    float: left;
    text-align: center;
    width: 140px;

}

.pricing_part_one:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    cursor: pointer;
    background: #FF0000;
    margin-top: -19px;
    color: #FFF !important;
    padding: 20px 0;
    margin: 0;
}

.pricing_part_one:hover .price-tit-box {
    color: #FFF;
}

.plan-select {
    color: #373737;
    margin: 0 0 -27px;
}

.pricing_part_one:hover .plan-select {
    color: #FFF;
    background: #FF0000 !important;
}

.pricing_part_one:hover .pri_bla_hover li {
    color: #FFF;
    background: #373737;
    border: 1px solid #272727;
}

.pricing_part_one h3, .pricing_part_one span {
    color: #FFF !important;
    margin: 0;
    padding: 0;
}

/*==========================26-3-2015-end========================*/