<style>
    .horizontal-dwnld-main {
        position: relative;
        text-align: center;
    }

    .horizontal-dwnld-main img {
        width: 100%;
    }

    .horizontal-dynamic-data-main {
        height: 100px;
        position: absolute;
        left: 50%;
    }

    .horizontal-dynamic-data-main img {
        width: 100%;
        height: auto;
    }
</style>

<div class="horizontal-dwnld-main">
    <img src="horizontal.jpeg" alt="vertical">

    <div class="horizontal-dynamic-data-main">
        <img src="qr-code.jpg" alt="qr-code">

        <p>2620875234</p>
    </div>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    $(window).on('resize', function () {
        var imgheight = $(".horizontal-dwnld-main img").height();
        var qrcodeheight = imgheight * 0.3136;
        var qrcodetop = imgheight * 0.4245;
        var qrcodeleft = -qrcodeheight / 2;

        $(".horizontal-dynamic-data-main").css({"width": qrcodeheight, "top": qrcodetop, "margin-left": qrcodeleft});
    });
    $(document).ready(function () {
        $(window).trigger('resize');
    });
</script>